.item-nav{
    grid-area: nav;
    border: 2px solid black;
    
}
.item-leftside{
    grid-area: leftside;
    border: 2px solid gray;
    margin-left: 30px;
}
.item-main{
    grid-area: main;
    border: 2px solid orange;
    margin-right: 30px;
}
.item-footer{
    grid-area: footer;
    border: 2px solid brown;
    text-align: center;
}
.wrapper > div{
    padding: 1em;
}
.wrapper{
    display: grid;
    grid-template-rows: 50px 750px 0px;
    grid-template-columns: 500px auto;
    grid-template-areas:
    "nav nav nav"
    "leftside main main"
    "footer footer footer";
    ;
    grid-row-gap: 2%;
    grid-column-gap: 1%;
}